body {
    background-color: #555;

}

label {
    color: white;
}

.botones{
    width: 400px;
    background-color: red;
    display: flex;
    justify-content: center;
  }
  

table {
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 2px 4px;
  }

  body{
    font-family: 'Ubuntu', sans-serif;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    background: #eee;
    display: block;
    width: 100%;
}
button{
    background: #225cb3;
    color: #fff;
    font-size: 19px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
}
button:hover{
    background: #083157;
}