 <style>
       

        h1 {
            color: white; /* Color del texto */
            text-align: center; /* Alineación centrada */
        }
    </style>

<h1>Segunda pre entrega del PF - Clase 17</h1>
